.activity {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.activity__title {
  margin: 0;
  padding: 20px 10px 10px;
  text-align: center;
  color: #111;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
}
