.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.contens {
  margin-top: 20px;
  width: 65%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
  width: 33%;
  margin-top: 28px;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 4px;

  &__container {
    position: sticky;
    bottom: 0;
  }
}

.twitter {
  position: sticky;
  top: 45px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .contens {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}
