.posts {
  padding: 20px;
  margin-bottom: 20px;

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.4em;
    border-bottom: 7px solid #edf6ff;

    &__a {
      box-shadow: none;
      color: black;
    }
  }
  &__image_container {
    position: relative;
    overflow: hidden;
  }
  &__image {
    margin-bottom: 5px;

    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 350px;
    border: 1px solid #ccc;

    & img {
      transition: all ease-in 0.3s !important;
      &:hover {
        opacity: 0.8 !important;
        transform: scale(1.01) !important;
        overflow: hidden !important;
      }
    }
  }

  &__desc {
    margin-bottom: 5px;
  }
  &__more {
    float: right;

    &__a {
      color: #fc1ab1;
      box-shadow: none;
      height: 12px;
      line-height: 12px;
      display: block;
      font-size: 12px;
    }
  }
}
