.toc {
  background-color: #fdfdfd;
  margin: 10px auto;
  border: 1px solid #aaa;

  &__top {
    background-color: #ff86d7;
  }
  &__title {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #111;
    text-transform: none;
  }
  &__open {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    font-size: 0.9em;
    border: none;
    background-color: #ff86d7;
    color: #111;

    &:focus {
      outline: 0;
    }
  }
  &__content {
    margin-top: 10px;
    & > ul {
      margin-left: 30px;

      & > li {
        margin: 0;
        margin-top: 6px;

        & > a {
          color: black;
          box-shadow: none;
          margin: 0;

          &:hover {
            color: #ff86d7;
          }
        }

        & > p {
          margin-bottom: 0;
          color: black;
          & > a {
            color: black;
            box-shadow: none;
            &:hover {
              color: #ff86d7;
            }
          }
        }
        & > ul {
          margin-left: 15px;
          margin-top: 0;

          & > li {
            margin: 0;
            margin-top: 6px;
            color: black;
            & > a {
              color: black;
              box-shadow: none;
              &:hover {
                color: #ff86d7;
              }
            }

            & > p {
              line-height: 0%;
              color: black;

              & > a {
                color: black;
                box-shadow: none;
                &:hover {
                  color: #ff86d7;
                }
              }
            }
            & > ul {
              margin-left: 15px;
              margin-top: 0;

              & > li {
                margin: 0;
                margin-top: 6px;
                color: black;

                & > a {
                  color: black;
                  box-shadow: none;
                  &:hover {
                    color: #ff86d7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .toc {
    &__content {
      font-size: 0.9em;
    }
  }
}
