.posts {
  margin-bottom: 70px;
}
.posts__title {
  margin: 0;
  margin-top: 28px;
  font-size: 1.4em;
  border-bottom: 7px solid #edf6ff;
}
.posts__title__a {
  box-shadow: none;
  color: black;
}

.posts__image_container {
  position: relative;
  overflow: hidden;
}
.posts__image {
  margin-bottom: 5px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
}
.posts__image img {
  transition: all ease-in 0.3s !important;
}
.posts__image img:hover {
  opacity: 0.8 !important;
  transform: scale(1.01) !important;
  overflow: hidden !important;
}

.posts__desc {
  margin-bottom: 0px;
}
.posts__more {
  float: right;
  margin-bottom: 15px;
}
.posts__more__a {
  color: #333;
  box-shadow: none;
  height: 12px;
  line-height: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
