* {
  font-family: Yu Gothic, Helvetica Neue, Helvetica Sans, sans-serif !important;
}
body {
  background-color: #f2f2f2;
}

.posts {
  padding: 20px;
  margin-bottom: 10px;

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.4em;
    border-bottom: 7px solid #edf6ff;

    &__a {
      box-shadow: none;
      color: black;
    }
  }
  &__image_container {
    position: relative;
    overflow: hidden;
  }
  &__image {
    margin-bottom: 5px;

    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 350px;
    border: 1px solid #eee;

    & img {
      transition: all ease-in 0.3s !important;
      &:hover {
        opacity: 0.9 !important;
        transform: scale(1.05) !important;
        overflow: hidden !important;
      }
    }
  }

  &__desc {
    margin-bottom: 5px;
  }
  &__more {
    &__a {
      box-shadow: none;
      float: right;
      transition: all ease-in 0.3s;

      &:hover {
        color: #fc1ab1;
      }
    }
  }
}
.blog__hero {
  border: 1px solid #eee;
  margin-bottom: 5px;
  max-height: 350px;
}
.blog-section {
  & h2 {
    background-color: #f2f2f2;
    color: black;
    padding: 10px 10px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #aaa;
    border-left: 6px solid #fc1ab1;
    font-size: 1.4em;
  }

  & h3 {
    padding: 5px 10px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    border-left: 3px solid #fc1ab1;
    border-bottom: 1px solid #777;
  }

  & h4 {
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
    text-transform: none;
    letter-spacing: normal;
    border-left: 2px solid #fc1ab1;
    // font-weight: 600 !important;
  }

  & p {
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 10px;

    & .under {
      border-bottom: 3px solid;
      border-image: linear-gradient(to right, #f2f2f2 0%, #fc1ab1 100%);
      border-image-slice: 1;
    }
  }

  & strong {
    background: linear-gradient(transparent 70%, #f86eca 60%) !important;
  }

  blockquote {
    margin-left: 10px;
    padding-left: 5px;
    font-size: 1em;
    border-left: 0.32813rem solid rgba(0, 0, 0, 0.2);
  }

  & ol {
    border: 2px dashed #fc1ab1;
    padding: 5px;

    & li {
      margin-left: 30px;
      margin-bottom: 0px;
    }
  }
  & ul {
    border: 2px dotted #fc1ab1;
    padding: 5px;

    & li {
      margin-left: 30px;
      margin-bottom: 0px;
    }
  }
}

.social-links {
  margin: 0 0 20px 0;
  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #fc1ab1;
  }
  &__icon {
    display: inline;
    margin-right: 10px;
  }
}
.tag {
  margin-bottom: 20px;

  &__list {
    margin-right: 10px;
    box-shadow: none;
    border: 1px solid #555;
    padding: 0 5px;
    border-radius: 3px;
    color: blue;
    background-color: #f2f2f2;
  }
}

.toc {
  background-color: #fdfdfd;
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #aaa;

  &__top {
    background-color: #fc1ab1;
  }
  &__title {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  &__open {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    font-size: 0.9em;
    border: none;
    background-color: #fc1ab1;
    color: #fff;

    &:focus {
      outline: 0;
    }
  }
  &__content {
    & ul {
      margin-left: 30px;

      & li {
        font-size: 0.9em;
        margin: 10px 0;

        & a {
          color: black;
          transition: ease 0.3s all;

          &:hover {
            color: #fc1ab1;
          }
        }
      }
    }
  }
}

.contact {
  &__area {
    margin-bottom: 20px;
  }
  &__field {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background-color: #fc1ab1;

  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  &__title {
    line-height: 40px;
    margin-left: 10px;
    & a {
      color: white;
      padding: 5px 13px;
      box-shadow: none;
      font-weight: 600;
      font-size: 1.8em;
      vertical-align: middle;
    }
  }
  &__ul {
    float: right;
    margin-right: 20px;
  }
  &__li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;

    & a {
      color: white;
      padding: 5px 13px;
      transition: all 0.5s ease;
      box-shadow: none;
      font-weight: 600;
      border-radius: 20px;
      vertical-align: middle;

      &:hover {
        color: #fc1ab1;
        transition: 0.5s;
        background-color: #f2f2f2;
      }
    }
  }
}

.gatsby-code-title {
  background: #555;
  color: #fff;
  margin: 20px 0px -24px;
  padding: 8px 12px 20px;
  font-size: 0.8em;
  line-height: 1;
  display: table;
}

.gatsby-highlight-code-line {
  background-color: #444444;
  display: block;
  margin-right: -1em;
  margin-left: -16px;
  padding-right: 1em;
  padding-left: 10px;
  border-left: 6px solid #fc1ab1;
}
.gatsby-resp-image-background-image {
  border-radius: 5px;
}
.gatsby-resp-image-image {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .blog-section {
    & h2 {
      font-size: 1.3em;
    }

    & h3 {
      font-size: 1.2em;
    }
    & h4 {
      font-size: 1.1em;
    }
  }
  .navbar {
    .checkbtn {
      display: block;
      line-height: 45px;
      margin-right: 20px;
    }
    &__ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 40px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      margin: 0;
    }
    &__li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    &__li a {
      font-size: 20px;

      &:hover {
        background: none;
        color: #0082e6;
      }
    }
    #check:checked ~ ul {
      left: 0%;
    }
  }
}
