* {
  font-family: Helvetica Neue, Helvetica Sans, sans-serif !important;
}

body {
  background-color: #f2f2f2;
}

.blog__hero {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.blog-section h2 {
  background-color: #f2f2f2;
  color: black;
  padding: 10px 10px;
  position: relative;
  border: 1px solid #aaa;
  border-left: 6px solid #ff86d7;
  font-size: 1.4em;
}

.blog-section h3 {
  padding: 5px 10px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3em;
  border-left: 3px solid #ff86d7;
  border-bottom: 1px solid #777;
}

.blog-section h4 {
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-transform: none;
  letter-spacing: normal;
  border-left: 2px solid #ff86d7;
}

.blog-section p {
  padding: 5px 10px;
  margin: 0;
}

.blog-section p .under {
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #f2f2f2 0%, #ff86d7 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(#ff86d7));
     border-image: linear-gradient(to right, #f2f2f2 0%, #ff86d7 100%);
  border-image-slice: 1;
}

.blog-section strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(60%, #ff86d7)) !important;
  background: linear-gradient(transparent 90%, #ff86d7 60%) !important;
}

.blog-section .custom-block {
  position: relative;
}

.blog-section .info {
  border-radius: 5px;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.blog-section .info > .custom-block-body {
  position: relative;
  margin: 1.5rem 0;
  padding: 5px 15px 5px 40px;
  border-radius: 6px;
  background: #fff6e4;
  color: #222;
  font-size: 0.875em;
  line-height: 1.6;
}

.blog-section .info > .custom-block-body::before {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "!";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background: #ffb84c;
  font-weight: 700;
  border-radius: 50%;
}

.blog-section .warn {
  border-radius: 5px;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.blog-section .warn > .custom-block-body {
  position: relative;
  margin: 1.5rem 0;
  padding: 5px 15px 5px 40px;
  border-radius: 6px;
  background: #ffeff2;
  color: #222;
  font-size: 0.875em;
  line-height: 1.6;
}

.blog-section .warn > .custom-block-body::before {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "!!";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background: #ff7670;
  font-weight: 700;
  border-radius: 50%;
}

.blog-section .question {
  border-radius: 5px;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.blog-section .question > .custom-block-body {
  position: relative;
  margin: 1.5rem 0;
  padding: 5px 15px 5px 40px;
  border-radius: 6px;
  background: #dbf8dd;
  color: #222;
  font-size: 0.875em;
  line-height: 1.6;
}

.blog-section .question > .custom-block-body::before {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "?";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background: #09c441;
  font-weight: 700;
  border-radius: 50%;
}

.blog-section blockquote {
  margin-left: 10px;
  padding-left: 5px;
  font-size: 1em;
  border-left: 0.32813rem solid rgba(0, 0, 0, 0.2);
}

.blog-section ol {
  padding: 5px;
}

.blog-section ol li {
  margin-left: 30px;
  margin-bottom: 0px;
}

.blog-section ul {
  padding: 5px;
  margin-left: 0;
}

.blog-section ul li {
  margin-left: 30px;
  margin-bottom: 0px;
}

.prevnext__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.prevnext__li {
  padding: 5px 10px;
  background-color: #ff86d7;
}

.prevnext__li a {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #111;
}

@media screen and (max-width: 480px) {
  .prevnext__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .blog-section h2 {
    font-size: 1.3em;
  }
  .blog-section h3 {
    font-size: 1.2em;
  }
  .blog-section h4 {
    font-size: 1.1em;
  }
  .new__ul {
    padding: 10px 0 0;
  }
}

.contact__area {
  margin-bottom: 20px;
}

.contact__field {
  width: 100%;
}

.gatsby-code-title {
  background: #555;
  color: #fff;
  margin: 20px 0px -24px;
  padding: 8px 12px 20px;
  font-size: 0.8em;
  line-height: 1;
  display: table;
}

.gatsby-highlight-code-line {
  background-color: #444444;
  display: block;
  margin-right: -1em;
  margin-left: -16px;
  padding-right: 1em;
  padding-left: 10px;
  border-left: 6px solid #ff86d7;
}

.gatsby-resp-image-background-image {
  border-radius: 5px;
}

.gatsby-resp-image-image {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
  .gatsby-highlight {
    font-size: 13px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

.contents {
  margin-top: 20px;
  width: calc(98% - 450px);
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents {
    width: 100%;
    padding: 30px 10px;
  }
}

.posts {
  margin-bottom: 70px;
}

.posts__title {
  margin: 0;
  margin-top: 28px;
  font-size: 1.4em;
  border-bottom: 7px solid #edf6ff;
}

.posts__title__a {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}

.posts__image_container {
  position: relative;
  overflow: hidden;
}

.posts__image {
  margin-bottom: 5px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
}

.posts__image img {
  -webkit-transition: all ease-in 0.3s !important;
  transition: all ease-in 0.3s !important;
}

.posts__image img:hover {
  opacity: 0.8 !important;
  -webkit-transform: scale(1.01) !important;
          transform: scale(1.01) !important;
  overflow: hidden !important;
}

.posts__desc {
  margin-bottom: 0px;
}

.posts__more {
  float: right;
  margin-bottom: 15px;
}

.posts__more__a {
  color: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 12px;
  line-height: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.toc {
  background-color: #fdfdfd;
  margin: 10px auto;
  border: 1px solid #aaa;
}

.toc__top {
  background-color: #ff86d7;
}

.toc__title {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #111;
  text-transform: none;
}

.toc__open {
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-size: 0.9em;
  border: none;
  background-color: #ff86d7;
  color: #111;
}

.toc__open:focus {
  outline: 0;
}

.toc__content {
  margin-top: 10px;
}

.toc__content > ul {
  margin-left: 30px;
}

.toc__content > ul > li {
  margin: 0;
  margin-top: 6px;
}

.toc__content > ul > li > a {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

.toc__content > ul > li > a:hover {
  color: #ff86d7;
}

.toc__content > ul > li > p {
  margin-bottom: 0;
  color: black;
}

.toc__content > ul > li > p > a {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toc__content > ul > li > p > a:hover {
  color: #ff86d7;
}

.toc__content > ul > li > ul {
  margin-left: 15px;
  margin-top: 0;
}

.toc__content > ul > li > ul > li {
  margin: 0;
  margin-top: 6px;
  color: black;
}

.toc__content > ul > li > ul > li > a {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toc__content > ul > li > ul > li > a:hover {
  color: #ff86d7;
}

.toc__content > ul > li > ul > li > p {
  line-height: 0%;
  color: black;
}

.toc__content > ul > li > ul > li > p > a {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toc__content > ul > li > ul > li > p > a:hover {
  color: #ff86d7;
}

.toc__content > ul > li > ul > li > ul {
  margin-left: 15px;
  margin-top: 0;
}

.toc__content > ul > li > ul > li > ul > li {
  margin: 0;
  margin-top: 6px;
  color: black;
}

.toc__content > ul > li > ul > li > ul > li > a {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toc__content > ul > li > ul > li > ul > li > a:hover {
  color: #ff86d7;
}

@media screen and (max-width: 767px) {
  .toc__content {
    font-size: 0.9em;
  }
}

.twitter__title {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */