.blog__hero {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.blog__section h2 {
  background-color: #f2f2f2;
  color: black;
  padding: 10px 10px;
  position: relative;
  border: 1px solid #aaa;
  border-left: 6px solid #ff86d7;
  font-size: 1.5em;
}

.blog__section h3 {
  padding: 5px 10px;
  margin: 20px 0;
  font-size: 1.4em;
  border-left: 3px solid #ff86d7;
}

.blog__section h4 {
  padding: 5px 10px;
  margin: 20px 0 5px;
  font-size: 1.3em;
  text-transform: none;
  text-decoration: underline;
  letter-spacing: normal;
  font-weight: normal;
}

.blog__section p {
  padding: 4px 10px;
  margin: 8px 0;
  font-size: 1.1em;
}

blockquote {
  margin: 5px 0 5px 10px;
  padding-left: 5px;
  font-size: 1.1em;
  border-left: 0.32813rem solid rgba(0, 0, 0, 0.2);
}

.blog__section ol {
  padding: 5px;
}
.blog__section ol li {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 1.1em;
}
.blog__section ul {
  padding: 5px;
  margin-left: 0;
}
.blog__section ul li {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.prevnext__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.prevnext__li {
  padding: 5px 10px;
}
.prevnext__li a {
  color: #111;
}

.prevnext__li a:hover {
  color: #ff86d7;
}

@media screen and (max-width: 480px) {
  .prevnext__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .blog__section h2 {
    font-size: 1.3em;
  }
  .blog__section h3 {
    font-size: 1.2em;
  }
  .blog__section h4 {
    font-size: 1.1em;
  }
}
