.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.contents {
  margin-top: 70px;
  width: calc(98% - 430px);
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  .contents {
    width: 100%;
    padding: 30px 10px;
  }
}
