.sidebar {
  width: 450px;
  margin-top: 28px;
  margin-left: 10px;
  background-color: #f2f2f2;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}
