.twitter {
  top: 60px;
  border-radius: 16px;
  background-color: #fff;
}

.twitter__title {
  margin: 0;
  padding: 20px 10px 10px;
  text-align: center;
  color: #111;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  background-color: #fff;
  border-radius: 16px;
}
